<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
      {{ page.title }} &ndash;
      {% endif %}
      {{ site.name }}
    </title>

    <script type="text/javascript">
      var host = "lucasallan.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
      </script>

      <meta name="author" content="{{ site.name }}" />
      <meta name="description" content="{{ site.description }}" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <link rel="canonical" href="https://lucasallan.com">
      <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

      <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
      <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
      <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
      <link media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
      <link media="only screen and (device-width: 768px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
      <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
      <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script type="text/javascript" src="/js/application.js"></script>
    </head>

    <body>
      <section class="sidebar">
      <a href="/">
        <img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" />
      </a>

      <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
      </section>

      <section class="meta">
      <a href="https://github.com/{{ site.github.owner_name }}" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="/atom.xml"><i class="fa fa-rss"></i></a>
      </section>

      <section class="sections">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/links">links</a></li>
        <li><a href="/">posts</a></li>
      </ul>
      </section>
      </section>

      {{ content }}
    </body>

  </html>
